* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #009688;
  --background: #fff;
  --sub-color: #6a6a6a;
  --text-color: #666;
}

header {
  height: 200px;
  /*outline: 1px solid red;*/
  display: flex;
  position: relative;
  padding: 0 20px;
  color: var(--text-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

footer {
  padding: 20px;
  outline: 1px solid red;
}