* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none; 
}

.container-main p {
  font-size: var(--heading2);
}

.container-main {
  max-width: 1440px;
  height: 1024px;
  padding: 112px 100px;
  margin: 0 auto;
  background: #333;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}

/* B */
.container-main .col {
  width: calc(100% / 4 - 60px);
  height: 100%;
  position: relative;
  float: left;
  margin-right: 20px;
}

.container-main .col:last-child {
  margin-right: 0;
}

/* B */
.container-main .col p {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-shadow: 0 0 5px black;
}

/* 첫번째 컬럼 배경 스타일 지정 */
.container-main .col:first-child {
  background-image: url(./images/the_concert_hall.png);
  background-size: cover;
}
/* hongkong*/
.container-main #section2 {
  background-image: url(./images/by_floor.png);
  background-size: cover;
}
/* osaka */
.container-main #section3 {
  background-image: url(./images/the_seat.png);
  background-size: cover;
}
/* bangkok */
.container-main #section4 {
  background-image: url(./images/way_here.png);
  background-size: cover;
}